/* 公共样式 */
.clear:after{
	display:block;
	content:"";
	clear:both;
}
.fr{
	float:right;
}
.fl{
	float:left;
}
/* 首页主体 */
div.tnMain{
	width:100%;
	height:auto;
}
/* 广告 轮播背景幻灯片*/
div.tnBanner{
	width:100%;
	height:440px; 
}
div.tnActivitySlide{
	width:100%;
	height:auto;
	z-index:1;
}
ul.bannerImg{
	height:440px;
	width:100%;
	position:relative;
}
ul.bannerImg li{
	position:absolute;
	top:0;
	left:0;
	width:100%; 
	height:440px;
	overflow:hidden;
	/* display:none; */
	/* z-index:2; */
}
ul.bannerImg li:nth-child(1){
	background:url(../images/00-index/bannerImg_01.jpeg) no-repeat center top;
	z-index:1;
}
ul.bannerImg li:nth-child(2){
	background:url(../images/00-index/bannerImg_02.jpeg) no-repeat center top;
}
ul.bannerImg li:nth-child(3){
	background:url(../images/00-index/bannerImg_03.jpeg) no-repeat center top;
}
ul.bannerImg li:nth-child(4){
	background:url(../images/00-index/bannerImg_04.jpeg) no-repeat center top;
}
ul.bannerImg li:nth-child(5){
	background:url(../images/00-index/bannerImg_05.jpeg) no-repeat center top;
}
ul.bannerImg li:nth-child(6){
	background:url(../images/00-index/bannerImg_06.jpeg) no-repeat center top;
}
/* 轮播广告title 按钮 */
div.bannerCenter{
	width:1190px;
	height:430px;
	position:relative;
	z-index:1;
	margin:-430px auto 0;
}
div.bannerCenter div.bnCenter{
	width:730px;
	height:420px;
	position:absolute;
	bottom:10px;
	left:225px;
	z-index:1;
}
ul.bannerInd{
	position:absolute;
	bottom:129px;
	font-size:12px;
	font-family:"宋体";
	z-index:3;
	left:15px;
}
ul.bannerInd li{
	float:left;
    width:116px;
    background: #fff;
    opacity:0.7;
    color:#333;
    height: 18px;
    line-height:18px;
    text-align:center;
    margin-right:2px;
    cursor:pointer;
    overflow:hidden;
}
div.bnCenter ul.bannerInd li.current{
	background:#000;
	color: #fff;
}
/* 手风琴 广告 */
div.subjectSlide{
	width:705px;
	height:122px;
	position:absolute;
	left:15px;
	bottom:0;
	overflow:hidden;
}
ul.subjectImg li{
	float:left;
	width:97px;
	height:122px;
	position:relative;
	cursor:pointer;
	overflow:hidden;
}
ul.subjectImg li.current{
	width:122px;
}
ul.subjectImg li img{
	width:222px;
	position:absolute;
	left:0;
	top:0;
}
/* 左右 按钮 */
div.tnBanner div.common{
	position:absolute;
	width:45px;
	height:100px;
    top:125px;
    z-index:4;
    opacity:0.7;
    display:none;
    cursor:pointer;
}
div.tnBanner div.btnLeft{
	left:0;
	background:url(../images/00-index/sprite.png) left top;
}
div.bnCenter div.btnRight{
	right: -5px;
	background:url(../images/00-index/sprite.png) right top;
}
/* banner中 左侧一级导航 */
div.bnCatalog{
	z-index:5;
}
div.bnCatalog div.catalogFirst{
	width:84px;
	overflow:hidden;
	min-height:420px;
	background:#38414C;
}
div.bnCatalog div.catalogFirst div.firstTab{
	position:relative;
	width:84px;
	height:59px;
	line-height:54px;
	/*box-sizing:border-box;*/
	border-bottom:1px dotted #202020;
}
div.bnCatalog div.catalogFirst div.firstTab a{
	position:absolute;
	display:block;
	width:84px;
	height:39px;
	text-align:center;
	line-height:39px;
	font-size:12px;
	padding-top:20px;
}
div.bnCatalog div.catalogFirst div.firstTab a span{
	position:absolute;
	width:20px;
	height:21px;
	left:32px;
	top:8px;
	background-image:url(../images/00-index/catalog_icon.png);
	background-repeat:no-repeat;
}
div.bnCatalog div.catalogFirst div.firstTab a [data-rel=tour]{
	background-position:1px 0;
}
div.bnCatalog div.catalogFirst div.firstTab a [data-rel=flight]{
	background-position:-40px 0;
}
div.bnCatalog div.catalogFirst div.firstTab a [data-rel=hotel]{
	background-position:-60px 0;
}
div.bnCatalog div.catalogFirst div.firstTab a [data-rel=package]{
	background-position:-20px 0;
}
div.bnCatalog div.catalogFirst div.firstTab a [data-rel=ticket]{
	background-position:-80px 0;
}
div.bnCatalog div.catalogFirst div.firstTab a [data-rel=cruise]{
	background-position:-100px 0;
}
div.bnCatalog div.catalogFirst div.firstTab a [data-rel=local]{
	background-position:-120px 0;
}
/* 左侧一级导航 鼠标移入样式 */
div.selected a{
	 background:#fff;
	 color:#2EA536;
	 font-weight:bold;
	 border-bottom:1px solid #fff;
 }
div.bnCatalog div.catalogFirst div.selected a [data-rel=tour]{
	background-position:1px -24px;
}
div.bnCatalog div.catalogFirst div.selected a [data-rel=flight]{
	background-position:-40px -24px;
}
div.bnCatalog div.catalogFirst div.selected a [data-rel=hotel]{
	background-position:-60px -24px;
}
div.bnCatalog div.catalogFirst div.selected a [data-rel=package]{
	background-position:-20px -24px;
}
div.bnCatalog div.catalogFirst div.selected a [data-rel=ticket]{
	background-position:-80px -24px;
}
div.bnCatalog div.catalogFirst div.selected a [data-rel=cruise]{
	background-position:-100px -24px;
}
div.bnCatalog div.catalogFirst div.selected a [data-rel=local]{
	background-position:-120px -24px;
}
/* 旅游度假 二级导航 */
div.catalogSeconds{
	position:absolute;
	height:420px;
	top:0;
	left:84px;
	z-index:8;
	background:#fff;
}
div.catalogSecond{
	width:141px;
	position:relative;
	z-index:1;
}
div.secondSection{
	border-bottom:1px dotted #dcdcdc;
	width:125px;
	margin:0 auto;
	cursor:pointer;
}
div.secondTitle{
	width:135px;
    height:20px;
    line-height:18px;
    padding:5px 3px 0px;
    margin:0 auto;
    overflow:hidden;
    cursor:pointer;
}
div.secondTitle a{
	font-size:14px;
    color: #333;
    padding-right:4px;
    font-weight:bold;
}
div.secondTitle a:hover{
	color:#FE9329;
}
div.secondNom{
	width:135px;
    height:20px;
    line-height:19px;
    font-size:0;
    padding-left:3px;
    margin:0 auto;
    overflow:hidden;
}
div.secondNom a{
	color:#999;
	font-size:12px;
	padding-right:5px;
}
div.secondNom a:hover{
	color:#FE9329;
}
/* banner栏 右侧边栏 */
div.bnRightSide{
	width:230px;
	height:420px;
	position:absolute;
	top:0;
	right:0;
	z-index:1;
	background:#fff;
}
/* 顶部热点 */
div.rightTop{
	padding:10px 0 3px 7px;
}
div.hotPoint{
	width:66px;
    height:70px;
    float:left;
    background:url(../images/00-index/hot_point.png) no-repeat;
    background-position:0 -67px;
    color:#fff;
    text-align:center;
    position:relative;
    z-index:1;
}
div.hotPoint span.hotNum{	
    font-size:24px;
    position:absolute;
    top:8px;
    right:24px;
    color:#ff5805;
}
div.hotPoint span.hotPer{
	position:absolute;
    top:13px;
    left:43px;
    color: #ffce5a;
    font-size:14px;
}
div.hotPoint span.hotTxt{
    font-size: 12px;
    position: absolute;
    top: 35px;
    left: 17px;
    color: #ff5905;
}
p.itemTxt{
	float:left;
    font-size:12px;
    color:#999;
    margin-left:10px;
    margin-top:1px;
    height:22px;
    line-height:22px;
    font-family:"宋体";
}
p.itemTxt b{
	font-family: "arial";
	color:#887E73;
}
p.firstItem{
	margin-top:10px;
}
/* 右侧边栏 滚动列表 */
div.rightSec{
	height:55px;
	font-size:12px;
	background:#fff;
	padding:0 10px 10px;
	overflow:hidden;
}
ul.scrollList{
	height:55px;
	/*overflow:hidden;*/
	position:relative;
	/*transition:all .2s linear;*/
}
ul.scrollList li p.listTitle{
	line-height:1.5;
}
ul.scrollList li p.listTitle a{
	width:100%;
	height:38px;
	line-height:18px;
	color:#404040;
	overflow:hidden;
	display: block;
}
ul.scrollList li p.listInfo{
	color:#999;
	height:22px;
	line-height:1;
	margin-top:5px;
}
ul.scrollList li p.listInfo span:nth-child(1){
	height:18px;
	line-height:18px;
	float:left;
	display:block;
}
ul.scrollList li p.listInfo span:nth-child(2){
	height:18px;
	line-height:18px;
	float:right;
	display:block;
}
/* 右侧边栏 SunEnsure */
div.rightThr{
	height:67px;
	border-top:1px solid #F5F5F5;
	border-bottom:1px solid #F5F5F5;
}
div.rightThr a img{
	width:230px;
	height:67px;
}
/* 右侧边栏 出游服务 */
div.rightBtm{
	width:230px;
	height:208px;
}
div.btmImg{
	width:230px;
	height:56px;
	overflow:hidden;
}
div.btmImg a img{
	width:230px;
	height:56px;
}
div.btmTitle{
	width:100%;
	height:10px;
	text-align:center;
	margin-bottom:8px;
}
div.btmTitle span{
	font-size:14px;
	color:#a9a9a9;
	position:relative;
	top:-5px;
}
div.btmMain{
	margin:0 12px;
	height:127px;
}
div.btmMainL{
	width:99px;
	height:127px;
	border-right:1px dotted #ddd;
}
div.btmMainR{
	width:99px;
	height:127px;
}
div.btmMain a{
	width:96px;
	height:26px;
	text-align:center;
	line-height:26px;
	padding:4px 0 4px;
	margin-top:8px;
	display:block;
}
div.btmMain a img{
	width:24px;
	height:24px;
	float:left;
	margin-right:7px;
	position:relative;
}
div.btmMain a span{
	color:#656565;
	font-size:12px;
	float:left;
}
/*  页面主体顶部 热门活动 特卖 隐藏  */
div.mainTop{
	margin-top:25px;
}
/* 部分主体公共样式 */
div.wrap{
	width:1190px;
	margin:0 auto;
}
div.wrapLeft{
	width:950px;
}
div.special{
	margin-bottom:26px;
}
div.layerHeader{
	height:32px;
    border-bottom:3px solid #eceef4;
    position:relative;
    margin-bottom:15px;
}
ul.tabs{
	float:left;
    font-size:14px; 
}
ul.tabs li{
	float:left;
    height:32px;
    line-height:32px;
    text-align:center;
	margin-right:18px;
}
ul.tabs li a{
	color:#666;
	display:inline-block;
    padding:0 5px;
    font-size:16px;
    border-bottom:0;
}
div.special div.layerHeader ul.tabs li.current a{
	font-size: 18px;
    font-weight: bold;
    color: #22c231;
    border-bottom: 3px solid #22c231;
    padding-bottom: 0;
}
div.more{
	position: absolute;
    top:0;
    right:0;
    font-size:12px;
    height:32px;
    line-height:32px;  
    font-family:"宋体";
}
div.more a{
	 color:#999;
}
/* 隐藏域 样式 */
div.layerMain{
	width:950px;
	overflow:visible;
}
ul.layerBodyList{
	width:970px;
	height:130px;
	position:relative;
	overflow:visible;
}
/* 超值特卖 */
ul.layerBodyList li.layerBody{
	display:none;
	margin-right:16px;
	overflow:visible;
}
ul.layerBodyList li.current{
	display:block;
}
ul.layerBodyList li.layerBody ul.tabList{
	width:970px;
	height:130px;
	overflow:visible;
	position:relative;
}
ul.layerBodyList li.layerBody ul.tabList li{
	width:225px;
    float:left;
    margin-right:16px;
    margin-bottom:10px;
}
/* tabList 下的div */
div.spePro{
	width:225px;
    height:125px;
    position:relative;
    overflow:hidden;
    z-index:10;
}
div.spePro a{
    display:block;
    width:225px;
    height:125px;
    overflow:hidden;
    margin-bottom:0;
}
div.spePro a img{
	width:225px;
	height:125px;
}
/* 左上图标 */
div.spePro a i.indexIcon{
	display:inline-block;
	position:absolute;
    top:0;
    left:0;
    width:43px;
    height:18px;
    color:#fff;
    line-height:18px;
    padding-left:7px;
    /* text-indent:-2000px; */	
}
div.spePro a i.weiHuo{
	background:url(../images/00-index/index_icon.png) no-repeat -128px -56px;
}
div.spePro a i.miaoSha{
	background:url(../images/00-index/index_icon.png) no-repeat -128px -77px;
}
div.spePro a i.ziYou{
	background:url(../images/00-index/index_icon.png) no-repeat 0px -144px;
}
div.spePro a i.genTuan{
	background:url(../images/00-index/index_icon.png) no-repeat 0px -59px;
}
div.spePro a i.jiuDian{
	background:url(../images/00-index/index_icon.png) no-repeat 0px -101px;
}
div.spePro a i.menPiao{
	background:url(../images/00-index/index_icon.png) no-repeat -117px -241px;
}
div.spePro a div.speProMessBg{
	width:120px;
    height:125px;
    background:#fff;
    opacity:0.9;
    position:absolute;
    right:0;
    top:0;
    z-index:11;
}
/* 隐藏域 信息 */
div.spePro a div.speProMess{
	width:112px;
    height:118px;
    color:#222;
    padding:10px 0 0 8px;
    position:absolute;
    right:0;
    top:0;
    z-index:12;
}
div.spePro a div.speProMess i.arrowIcon{
	position:absolute;
	display: inline-block;
    width:5px;
    height:13px;
    background-position:-102px -36px;
    left:-5px;
    top:54px;
	background: url(../images/00-index/index_icon.png) no-repeat -102px -36px;
}
div.spePro a div.speProMess p.speProTime{
	margin-bottom:7px;
}
div.spePro a div.speProMess p.speProTime span{
	display:inline-block;
    width:17px;
    height:19px;
    background:#38414c;
    border-radius:2px;
    color:#fff;
    text-align:center;
    line-height:19px;
    margin:0 2px;
    font-family:"arial";
}
div.spePro a div.speProMess p.speProName{
    margin-bottom:3px;
    height:38px;
    overflow:hidden;
}
div.spePro a div.speProMess p.speProPrice{
	color:#f60;
    font-size:14px;
}
div.spePro a div.speProMess p.speProPrice em{
	font-size:20px;
    line-height:24px;
    font-weight:bold;
    color:#f60;
    font-family:"arial";
	font-style: normal;
}
div.spePro a div.speProMess p.speProPrice i{
	font-style:normal;
    font-size:12px;
}
div.spePro a div.speProMess p.speProSale s{
	color:#999;
    font-family:"arial";
}
div.spePro a div.speProMess p.speProSale i{
	color:#999;
    font-family:"arial";
	font-style:normal;
}
div.spePro a div.speProMess p.speProSale span{
	width:42px;
    height:15px;
    line-height:16px;
    text-align:center;
    color:#f60;
    font-family:"arial";
	background:url(../images/00-index/index_icon.png) no-repeat -54px -36px;
	display:inline-block;
}
/* 超级自由行 */
div.spePro a div.speProMess p.hotel{
	width:107px;
	border-bottom:1px solid #dedede;
	padding-bottom:5px;
	margin-bottom:5px;
}
div.spePro a div.speProMess p.hotel span{
	display: inline-block;
    width: 14px;
    height: 14px;
	vertical-align: -2px;
	margin-right:2px;
}
div.spePro a div.speProMess p.hotel span:nth-child(1){
	background:url(../images/00-index/t-plane.png) no-repeat;
}
div.spePro a div.speProMess p.hotel span:nth-child(2){
	background:url(../images/00-index/t-hotel.png) no-repeat;
}
/* 旅游分期 */
div.spePro a div.speProMess p.fenqi{
	width:107px;
	padding-bottom: 0px;
    height: 24px;
    line-height: 20px;
    margin-top: -2px;
	margin-bottom: 2px;
	border-bottom: 1px solid #dadede;
	font-size: 14px;
    font-weight: bold;
	color: #f80;
}
/* 特价机票 */
li.Pticket div.spePro{
	background:url(../images/00-index/ticket_green.png) no-repeat;
} 
div.city{
	text-align: center;
    white-space: nowrap;
}
div.city span{
	font-size: 16px;
    font-weight: bold;
    color: #333;
}
div.city i{
	width: 45px;
    height: 11px;
    background-position: -57px -97px;
    vertical-align: 0;
    margin: 0 4px;
	background:url(../images/00-index/index_icon.png) no-repeat -57px -97px;
	display:inline-block;
}
p.date{
	text-align: left;
    color: #999;
    margin: 8px 0 0 20px;
}
p.Pname{
	color: #fff;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin-bottom: 8px;
	font-size: 12px;
    font-weight: bold;
}
p.tPrice{
	color: #f60;
    font-size: 14px;
}
p.tPrice span.dc{
	font-size: 12px;
    color: #999;
    margin-left: 20px;
}
p.tPrice em{
	font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #f60;
    font-family:" arial";
	font-style:normal;
}
p.tPrice i{
	font-style: normal;
    font-size: 12px;
}
p.tPrice span.Tsale{
	width:45px;
    height: 15px;
    line-height: 16px;
    text-align: center;
    background:url(../images/00-index/index_icon.png) no-repeat -54px -36px;
    color: #f60;
    font-family:"arial";
	margin-left: 2px;
	display:inline-block;
}
/* 特价酒店 */
div.speProMess p.spec{
	color: #999;
    display: block;
    height: 20px;
    overflow: hidden;
	margin-bottom:5px;
}
p.jdAdd{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 特价签证 */
li.qianzheng div.spePro{
	background:url(../images/00-index/visa.png) no-repeat;
}
div.visaImg{
	display:inline-block;
}
li.qianzheng div.spePro img{
	width: 100px;
    height: 64px;
    border: 1px solid #ddd;
    margin: 42px 0 0 13px;
}
div.qzMess{
	width: 102px;
    height: 88px;
	display:inline-block;
	margin-top:38px;
	vertical-align: top;
}
div.qzMess p.qz1{
	font-weight: bold;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.qzMess p.qz2{
	color: #f60;
    font-size: 14px;
}
div.qzMess p.qz2 span{
	font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #f60;
    font-family: "arial";
}
div.qzMess p.qz3{
	color:#000;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 特价门票 */
p.ticketTit{
	border-bottom: 1px solid #dadede;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
p.ticketTit span{
	color: #f60;
}
/* 银行立减 */
p.yhlj{
	color: #f80;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    width: 105px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* maintop 右侧 热门活动广告 */
div.wrapRight{
	width:225px;
	color:#999;
}
div.modTit{
	height:32px;
    border-bottom:3px solid #eceef4;
    position:relative;
	font-size:16px;
    color:#222;
    line-height:32px;
	margin-bottom:10px;
}
div.modTit a{
	position:absolute;
    display:block;
    width:122px;
    height:35px;
    right:0;
    top:-3px;
}
div.modTit a img{
	width:122px;
    height:35px;
}
div.modBody li{
    width:225px;
    height:24px;
	margin-bottom:3px;
	overflow:hidden;
} 
div.modBody li a{
	display:block;
    line-height:24px;
    font-size:13px;
    width:225px;
    height:24px;
    color:#666;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
div.modBody li a:hover{
	color:#ff6600;
	background:#F5F6F8;
}
/* 页面主体 */
div.layerBox{
	width:950px;
	margin: 0 auto 30px;
}
div.layerType1 div.layerHeader{
	border-bottom-color:#e15b39;
    margin-bottom:10px;
}
/* 页面部分主体公共样式  */
div.layerType1 div.layerHeader h2,div.layerType2 div.layerHeader h2{
	width:230px;
	font-size:18px;
    font-weight:bold;
    color:#333;
    height:32px;
    line-height:32px;
    padding-left:10px;
}
ul.tabs li.colorZi a{
	color:#d74568;
    padding-bottom:0;
    border-bottom:3px solid #d74568;
}
div.layerType1 div.mainLayerBody{
	background:url(../images/00-index/mainLayerBody.jpeg) no-repeat;
	height:390px;
	padding-top:20px;
	background-size:100%;
}
div.bodyLeft{
	height:390px;
    width:225px;
    position:relative;
}
div.layerType1 div.bodyLeft>a{
    display: block;
    width: 225px;
    height: 225px;
}
div.layerType1 div.bodyLeft ul{
	position: absolute;
    left: 8px;
    bottom: 20px;
}
div.layerType1 div.bodyLeft ul li{
	background:url(../images/00-index/quoqing.png) 0 0 no-repeat;
    background-size:100%;
    width:205px;
    height:30px;
    line-height:30px;
	margin-bottom:5px;
}
div.layerType1 div.bodyLeft ul li a{
	font-size:13px;
    color:#333;
	padding-left: 10px;
}
div.layerType1 div.bodyLeft ul li:nth-child(1) a{
	font-size:14px;
	font-weight: bold;
	color: #FE9329;
}
div.layerType1 div.bodyLeft ul a:hover{
	font-size: 13px;
    color: #FE9329;
    display: block;
    padding-left: 10px;
}
div.bodyRight{
	width:720px;
	height:390px;
	overflow: visible;
}
div.bodyRight ul.tablist{
	width:780px;
}
div.layerType1 li.proItem{
	width:215px;
    height:150px;
	padding:10px 9px 20px;
    margin:0 7px 7px 0;	
	float:left;
    position:relative;
    display:inline;  
	background: #fff;
}
div.proPic{
	position:relative;
    width:215px;
    height:120px;
    overflow:hidden;
    margin-bottom:5px;
}
div.proPic>a img{
	width:215px;
	height:120px;
}
div.proMessBg{
	height: 40px;
    width: 215px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: #38414c;
    opacity: 0.75;
}
div.proMess{
	height: 38px;
    width: 210px;
    position: absolute;
    left: 5px;
    bottom: 0px;
    overflow: hidden;
}
div.proMess a{
	color: #fff;
    width: 205px;
    height: 42px;
    display: block;
    line-height: 18px;
    overflow: hidden;
}
div.proMess a span{
	font-weight: bold;
}
div.proInfor{
	line-height:26px;
}
div.proInfor span:nth-child(1){
	float: left;
    color: #f60;
    font-size: 14px;
    padding-left: 5px;
}
div.proInfor span:nth-child(1) em{
	font-weight: bold;
    font-size: 20px;
    font-family: "arial";
    margin-left: -3px;
	font-style: normal;
}
div.proInfor span:nth-child(1) i{
	font-size: 12px;
    font-style: normal;
}
div.proInfor span:nth-child(2){
	float: right;
    color: #999;
    display: inline;
    margin-right: 5px;
    position: relative;
    top: 2px;
    padding: 0;
}
/* layerType2  */
div.layerType2{
	height:418px;
	overflow:hidden;
}
div.layerType2 li.proItemBg{
	box-shadow:0 1px 3px 1px rgba(102,102,102,0.2);
	opacity:0.95;
}
div.bodyRight ul.tabList{
	width:780px;
	position:relative;
}
div.bodyRight ul.tabList img.gif{
	position: absolute;
	top:70%;
	left:40%;
}
div.layerType2 div.bodyLeft h4{
	font-weight: bold;
    font-size: 14px;
    color: #222;
    padding-left: 10px;
    margin-bottom: 5px;
}
div.layerType2 div.bodyLeft ul.hotCity{
	border-bottom: 1px dotted #d7d7d7;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-right: 10px;	
}
div.layerType2 div.bodyLeft ul.hotCity li{
	float: left;
    background: url(../images/00-index/titpoint.png) no-repeat left center;
    padding-left: 7px;
    width: 94px;
    margin-bottom: 5px;
    overflow: visible;
}
div.layerType2 div.bodyLeft ul.hotCity li a{
	font-size: 13px;
    color: #333;
    position: relative;
    float: left;
}
div.layerType2 div.bodyLeft ul.hotCity li a:hover{
	color:#FE9329
}
div.layerType2 div.bodyLeft a img{
	width:225px;
}
div.layerType2 div.bodyRight li.proItem{
	width:225px;
	height:165px;
	margin:0 2px 20px 12px;
	float: left;
    position:relative;
    display:inline; 
    background:#fff;
    padding-bottom:5px;
}
div.layerType2 div.bodyRight div.proPic{
	width: 225px;
    height: 127px;
}
div.layerType2 div.bodyRight div.proPic img{
	width: 225px;
    height: 127px;
}
div.layerType2 div.bodyRight div.proMessBg{
	width:225px;
}
div.layerType2 div.bodyRight div.proMess{
	width:220px;
}
div.layerType2 div.bodyRight div.proMess a{
	width:217px;
}
div.layerType3{
	height:235px;
}
/* 鼠标移入标题 样式 */
ul.tabs li.colorHong a{
	color: #ED0505;
    padding-bottom: 0;
    border-bottom: 3px solid #ED0505;
}
ul.tabs li.colorLan a{
	color: #517ac0;
    padding-bottom: 0;
    border-bottom: 3px solid #517ac0;
}
ul.tabs li.colorLv a{
	color: #3aa860;
    padding-bottom: 0;
    border-bottom: 3px solid #3aa860;
}
ul.tabs li.colorCheng a{
	color: #E15B38;
	padding-bottom: 0;
	border-bottom: 3px solid #e15b38;
}
ul.tabs li.colorQing a{
	color: #08AFB1;
	padding-bottom: 0;
	border-bottom: 3px solid #08AFB1;
}
ul.tabs li.colorHuang a{
	color: #EFAD08;
	padding-bottom: 0;
	border-bottom: 3px solid #EFAD08;
}
ul.tabs li.colorDanLv a{
	color: #2E9900;
	padding-bottom: 0;
	border-bottom: 3px solid #2E9900;
}
/* 游记攻略 */
div.tourBox{
	width: 950px;
	margin: 0 auto 30px;
    overflow: hidden;
}
div.tourTit{
	border-bottom: 3px solid #eceef4;
    padding-bottom: 5px;
    position: relative;
}
div.titLeft{
	float: left;
    width: 195px;
    color: #404040;
}
div.titLeft h2{
	font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
div.titRight{
	float:right;
	text-align: right;
    position: absolute;
    top: 10px;
    right: 0;
}
div.titRight span.rt1{
	margin-right: 30px;
}
div.titRight span.rt1 span{
    width: 14px;
    height: 12px;
	margin-right: 5px;
    vertical-align: -2px;
	display: inline-block;
	background:url(../images/00-index/index_icon.png) no-repeat -1px -125px;
}
div.titRight span.rt1 a{
	color:#999;
}
div.titRight span.rt2 span{
	width: 23px;
    height: 15px;
	display: inline-block;
	margin-right: -2px;
    vertical-align: -2px;
	background:url(../images/00-index/index_icon.png) no-repeat -24px -122px;
}
div.titRight span.rt2 a{
	color: #2e9900;
	font-size:18px;
}
div.tourHeader{
	border-bottom: 0;
    margin: 15px 0px 10px 0;
}
div.tourHeader ul.Htabs{
	float: left;
    font-size: 14px;
    color: #666;
}
div.tourHeader ul.Htabs li{
	float: left;
    text-align: center;   
    margin-right: 25px;
}
div.tourHeader ul.Htabs li a{
	display:block;
	height: 32px;
    line-height: 32px;
	color: #222;
    font-size: 15px;
	padding: 0 15px;
}
div.tourHeader ul.Htabs li.current a{
	background: #2e9900;
	color:#fff;
}
ul.tourBodyList{
	height:320px;
	position:relative;
}
li.tourBody{
    z-index: 1;
    overflow: visible;
	position:absolute;
	top:0;
	left:0;
	display:none;
}
div.BLeft{
	width:720px;
	height:320px;
}
div.BLeft>div{
	float:left;
	margin-right:15px;
}
div.BLeft>div>a{
	position:relative;
}
div.BLeft div.L1 a img{
	width:225px;
	height:320px;
}
div.BLeft div.L2 a img{
	width:225px;
	height:152px;
}
div.L1{
	width:225px;
	height:320px;
}
div.L2{
	width:225px;
	height:152px;
	margin-bottom:16px;
	overflow:hidden;
}
div.BRight{
	width:225px;
	height:320px;
}
div.BRight a{
	margin-left:-5px;
	position:relative;
}
div.BRight a img{
	width:225px;
	height:320px;
}
div.proCover{
	position:absolute;
	left:0;
	bottom:-50px;
	width:225px;
	height:100px;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
}
div.proCover div.proTit{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	font-size: 14px;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
}
div.proCover div.tTit{
	padding-left: 15px;
}
div.proCover div.tTit div.avatar{
	width:40px;
	height:40px;
	overflow: hidden;
    border-radius: 50%;
}
div.proCover div.tTit div.avatar img{
	width:40px;
	height:40px;
}
div.proCover div.tTit div.tt1{
	margin:20;
} 
div.proCover div.tTit div.tt1 span:nth-child(1){
	margin:0 10px 0 20px;
}
div.proCover div.tTit div.tt1 span:nth-child(3){
	margin-left:10px;
}
div.proCover div.tTit div.tt2{
	height: 20px;
    overflow: hidden;
    color: #d6d6d6;
    padding-right: 10px;
	margin-left:45px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 旅游合作局 */
div.mainBottom{
	margin-bottom:15px;
}
div.tourismBox{
	width: 1190px;
	margin:0 auto;
}
div.tourismTit{
	border-bottom:2px solid #666;
}
div.tourismTit span:nth-child(1){
	font-size: 20px;
    color: #333;
    height: 40px;
    line-height: 40px;
}
div.tourismTit span:nth-child(2){
	height:42px;
	line-height:42px;
}
div.tourismTit a{
	color:#999;
}
div.tourismWrap{
	height: 160px;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}
ul.twList{
	position:absolute;
	top:0;
	transition:all .5s linear;
}
ul.twList li{
	float: left;
    width: 130px;
    height: 90px;
    text-align: center;
}
ul.twList img{
	width:100px;
	height:40px;
}
ul.twList p{
	color:#666;
}
/* 阳光服务 */
div.sunService{
	width:1190px;
	height:70px;
	margin:30px auto 0;
	border-bottom: 1px solid #e5e5e5;
}
div.sunService ul li{
    padding: 0 10px;
	float: left;
    width: 110px;
    text-align: center;
    color: #333;
    margin-right: 0;
	cursor:pointer;
}
div.sunService ul li span{
	display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 28px;
    font-size: 28px;
}
div.sunService ul li:nth-child(1) span{
	background: url(../images/00-index/common_foot.png) no-repeat 0 -59px;
}
div.sunService ul li:nth-child(2) span{
	background: url(../images/00-index/common_foot.png) no-repeat -24px -59px;
}
div.sunService ul li:nth-child(3) span{
	background: url(../images/00-index/common_foot.png) no-repeat -46px -59px;
}
div.sunService ul li:nth-child(4) span{
	width:20px;
	background: url(../images/00-index/common_foot.png) no-repeat -68px -59px;
}
div.sunService ul li:nth-child(5) span{
	background: url(../images/00-index/common_foot.png) no-repeat -87px -59px;
}
div.sunService ul li:nth-child(6) span{
	background: url(../images/00-index/common_foot.png) no-repeat -108px -59px;
}
div.sunService ul li:nth-child(7) span{
	background: url(../images/00-index/common_foot.png) no-repeat -130px -59px;
}
div.sunService ul li:nth-child(8) span{
	background: url(../images/00-index/common_foot.png) no-repeat -154px -59px;
}
div.sunService ul li:nth-child(9) span{
	background: url(../images/00-index/common_foot.png) no-repeat -178px -59px;
}
/* 底部信息栏 */
div.footInfo{
	width:1190px;
	margin:0 auto;
	padding-top:15px;
}
div.footInfo dl{
	line-height: 24px;
    float: left;
	padding: 0 50px 0 0;
}
div.footInfo dl dt{
	height: 24px;
    line-height: 20px;
    color: #666;
    font-size: 15px;
    font-weight: bold;
}
div.footInfo dl:nth-child(1){
	margin-left:40px;
}
div.footInfo dl dd{
    color: #999;
	cursor:pointer;
}
div.footInfo dl.tiexin{
	width: 260px;
    padding: 0;
    position: relative;
    background: #f6f6f6;
    border-radius: 5px;
    padding: 6px 20px;
}
div.footInfo dl.tiexin dd p:nth-child(1){
	padding-left: 25px;
    font-size: 14px;
    font-weight: bold;
	background:url(../images/00-index/common_foot.png) no-repeat -211px -2px;
}
div.footInfo dl.tiexin dd span{
	display: block;
	width: 96px;
    height: 66px;  
    position: fixed;
    right: 70px;
    bottom: 147px;
	z-index:9;
	background:url(../images/00-index/serv_24.png) no-repeat;
	animation:change 3s linear infinite;
}
@keyframes change{
	0%{
		transform:translate(0);
	}
	50%{
		transform:translate(30px);
	}
	100%{
		transform:translate(0);
	}
}
/* 页面主体右边栏 */
div.asideBox{
	width: 225px;
    font-size: 12px;
    font-family: "宋体";
    color: #666;
    background: #f6f6f6;
    margin-bottom: 15px;
}
div.asideBox a{
	width:225px;
	height:95px;
}
div.asideBox a img{
	width:225px;
}
div.asideBox div.line{
	border-bottom: 1px dotted #e3e4e8;
	margin: 1px 18px;
}
div.free a:hover,div.bank a:hover{
	opacity:0.8;
}
div.asideBox div.boxInner{
	padding: 0 10px 10px;
}
div.boxInner>p{
	font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.asideTabTit{
	font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    border-bottom: 2px solid #edeef3;
}
ul.asideTabTit li{
	float: left;
    height: 22px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    padding: 0 15px 5px;
    margin-right: 8px;
}
ul.asideTabTit li.current{
	border-bottom: 2px solid #4ecf5b;
    color: #4ecf5b;
	margin-bottom:-2px;
}
ul.asideTabList{
	background:#fff;
}
ul.asideTabList li.asideTabItem{
	display:none;
}
ul.asideTabList ul{
	height: 376px;
    overflow: hidden;
}
ul.asideTabList ul li{
	font-size: 12px;
    font-family: "宋体";
    color: #666;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    width: 125px;
    overflow: hidden;
    height: 60px;
    padding-left: 70px;
}
ul.asideTabList ul li>span{
	display: block;
    width: 12px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;	
}
ul.asideTabList ul li .topIcon1{
	background: url(../images/00-index/index_icon.png) no-repeat 0 -16px;
}
ul.asideTabList ul li .topIcon2{
	background: url(../images/00-index/index_icon.png) no-repeat -16px -16px;
}
ul.asideTabList ul li .topIcon3{
	background: url(../images/00-index/index_icon.png) no-repeat -32px -16px;
}
ul.asideTabList ul li a img{
	position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 60px;
    width: 60px;
    display: block;
}
ul.asideTabList ul li p{
	color: #999;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	font-family: "宋体";
}
ul.asideTabList ul li p i{
	color: #f60;
    font-style: normal;
}
ul.asideTabList ul li p.p1{
	line-height: 20px;
    height: 20px;
}
ul.asideTabList ul li p.p1 a{
	color:#000;
}
div.theme div.asideTab img{
	width:205px;
	height: 75px;
	margin-bottom:-1px;
}
div.theme div.asideTab img:hover{
	opacity:0.8;
}
div.dest div.destContent{
	width: 205px;
    height: 85px;
    overflow: hidden;
    position: relative;
}
div.dest div.destContent ul{
	width:400px;
	position: absolute;
}
div.dest div.destContent li{
	float: left;
    display: inline;
    margin-right: 15px;
}
div.dest div.destContent li img{
	display: block;
    background: #fff;
    border: 2px solid #f5f5f5;
    width: 50px;
    height: 50px;
    padding: 3px;
    border-radius: 50%;
}
div.dest div.destContent li p{
	font-size: 12px;
    color: #333;
    text-align: center;
    margin-top: 5px;
}
div.dest div.boxInner>p{
	position:relative;
}
div.dest div.boxInner>p span{
	display:inline-block;
	width: 16px;
    height: 16px;
	cursor: pointer;
	position:absolute;
	bottom:15px;
}
div.dest span.btnLeft{
	background: url(../images/00-index/index_icon.png) no-repeat 0 -36px;
	right:20px;
}
div.dest span.btnRight{
	background: url(../images/00-index/index_icon.png) no-repeat -18px -36px;
	right:0;
}
div.comm p.commTit{
	color: #999;
    background: #eeeff2;
	width:210px;
    height: 26px;
	margin-left:-10px;
    line-height: 26px;
    position: relative;
    padding-left: 15px;
}
div.comm p.commTxt{
	color: #333;
    line-height: 1.5;
    overflow: hidden;
    margin-top: 5px;
    padding: 0 5px 0 5px;
}
div.comm p.commCnt{
    line-height: 1.5;
    overflow: hidden;
    padding: 0 5px 0 5px;
}
div.img img{
	cursor:pointer;
}
div.img img:hover{
	opacity:0.8;
}
/* 浮动电梯导航 */
div.floatNav{
	position:fixed;
	left:50%;
	top:130px;
	display: none;
	margin-left:-636px;
	z-index:11;
}
div.floatNav li{
	font-size:12px;
	width:24px;
	height:28px;
	line-height:14px;
	padding:6px;
	cursor:pointer;
}
div.floatNav li.line{
	width:20px;
	padding: 0px;
	height: 1px;
	background-color: #eaeaea;
	margin:0 8px;

}
div.floatNav li a{
	color:#999;
}

/* 底部广告栏 开关 */
div.wOpen{
	position: fixed;
    z-index: 99999;
    left: 0;
    bottom: 0;
    height: 147px;
    width: 100%;
    min-width: 1000px;
}
div.wOpenBg{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #263646;
    opacity: 0.85;
}
div.wOpenInner{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
}
div.innerBgImg{
	position: absolute;
    bottom: 0;
    left: 0;
	cursor:pointer;
}
div.innerBgImg img{
    width: 1000px;
    opacity:1;
}
div.btnDown{
    position: absolute;
    left: 760px;
    top: 35px;
}
div.btnDown a{
	display: block;
	margin-bottom: 10px;   
}
div.btnClose{
	position: absolute;
    z-index: 5;
    top: 5px;
    cursor: pointer;
	transition: all .2s;
}  
div.btnClose:hover{
	transform:rotate(180deg);
}
div.wClose{
	position: fixed;
    z-index: 9999;
    left: -110px;
    bottom: 0;
	cursor: pointer;
}   
div.wClose img{
	width:110px;
}
/* 右侧固定栏 */
div.rightOrder{
	width: 40px;
	height: 100%;
    /* background: #333; */
	background: rgba(0,0,0,0.75);
    position: fixed;
    right: 0;
    top: 0;
	z-index:9999;
}
div.rightOrder li{
	display:block;
	cursor:pointer;
	width:40px;
	height:40px;
	border-bottom:1px solid #363636;
	position:relative;
}
div.rightOrder li.wanzhuan{
	height:141px;
	width:40px;
	background: url(../images/00-index/Cii-VVm8-U6IFefKAAAVcpF8iegAABS0gHnMZkAABWK09.jpeg) no-repeat;
}
div.rightOrder li.wanzhuan div{
	position:absolute;
	top:0;
	right:70px;
	display:none;
}
div.rightOrder li.app{
	height:40px;
	width:40px;
	margin-top:20px;
	border-top:1px solid #363636;
	background: url(../images/00-index/rc_icon_all.png) no-repeat 6px 14px;
}
div.rightOrder li.app:hover{
	background: url(../images/00-index/rc_icon_all.png) no-repeat -62px 14px;
}
div.rightOrder li.app div{
	position:absolute;
	top:0;
	right:70px;
	display:none;
}
div.rightOrder li.niuniu{
	padding:10px 0;	
}
div.rightOrder li.niuniu span{
	display:block;
	width:40px;
	height:40px;
	background: url(../images/00-index/rc_icon_all.png) no-repeat 5px -36px;
}
div.rightOrder li div.commTit{
	height: 41px;
    line-height: 40px;
    padding: 0 10px;
    width: 60px;
    border-left: 3px solid #f80;
    font-size: 14px;
    /* background-color: #333; */
    color: #f80;
    cursor: pointer;
	position:absolute;
	top:0;
	right:60px;
	background: rgba(0,0,0,0.75);
	display:none;
}
div.rightOrder li.heart{
	background: url(../images/00-index/rc_icon_all.png) no-repeat 8px -97px;
}
div.rightOrder li.heart:hover{
	background: url(../images/00-index/rc_icon_all.png) no-repeat -58px -97px;
}
div.rightOrder li.dingdan{
	background: url(../images/00-index/rc_icon_all.png) no-repeat 9px -224px;
}
div.rightOrder li.dingdan:hover{
	background: url(../images/00-index/rc_icon_all.png) no-repeat -60px -224px;
}
div.rightOrder li.gift{
	background: url(../images/00-index/rc_icon_all.png) no-repeat 11px -288px;
}
div.rightOrder li.gift:hover{
	background: url(../images/00-index/rc_icon_all.png) no-repeat -58px -288px;
}
div.rightOrder li.remind{
	background: url(../images/00-index/rc_icon_all.png) no-repeat 8px -785px;
}
div.rightOrder li.remind:hover{
	background: url(../images/00-index/rc_icon_all.png) no-repeat -60px -785px;
}
div.rightOrder li.question{
	position:absolute;
	bottom:112px;
	border-top:1px solid #363636;
	background: url(../images/00-index/rc_icon_all.png) no-repeat 8px -846px;
}
div.rightOrder li.question:hover{
	background: url(../images/00-index/rc_icon_all.png) no-repeat -60px -846px;
}
div.rightOrder li.suggest{
	position:absolute;
	bottom:71px;
	background: url(../images/00-index/rc_icon_all.png) no-repeat 10px -544px;
}
div.rightOrder li.suggest:hover{
	background: url(../images/00-index/rc_icon_all.png) no-repeat -59px -544px;
}
div.rightOrder li.toTop{
	position:absolute;
	bottom:30px;
	background: url(../images/00-index/rc_icon_all.png) no-repeat 10px -600px;
}
div.rightOrder li.toTop:hover{
	background: url(../images/00-index/rc_icon_all.png) no-repeat -59px -600px;
}


